*{
	margin: 0px;
   padding: 0px;
}
body{
	background-image: url(../imagen/fondo.gif); 
	color: white;
    background-size: cover;
}

#o1{
	font-family: Baskerville Old Face, serif;
	  font-size: 30px;
}
li{
    font-size: 40px;
    list-style-type: none;
}
#Barra a{
	font-size: 20px;
	color: white;
	font-size: 25px; 
}