body{
	background-color: #1C2833;	
}
#Barra a{
	font-size: 25px;
	color: white;
}
#o1 {
    color: white; 
	font-family: Baskerville Old Face, serif;
	
}
h1{
	font-size: 40px;
}
.o2{
	font-size: 40px;
	list-style-type: none;
}

