body{
	background-color: #50E50B 

}
#Barra a{
	font-size: 25px;
	color: #17202A;
}
#o1{
	font-family: Baskerville Old Face, serif;
	  font-size: 30px;
}
li{
    font-size: 40px;
    list-style-type: none;
}